#login-page {
    position: relative;
    width: 100%;
    height: auto;
    padding:135px;
    background: rgba(247, 187, 124, 0.8) !important;
}

#register-page {
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px;
    background: rgba(247, 187, 124, 0.8) !important;
}

.register-container input, .login-container input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    text-align: center;
}

.register-container>h1 , .login-container>h1{
    margin-top: 15px;
    font-weight: 100px;
    font-size: 2.8rem;
    text-align: center;
    color: #3e547b;
    letter-spacing: 1px;
    margin-bottom: 17px;
}

label,
input {    
    display: block;
    width: 50%;
    border: none;
    outline: none;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: #485771;
    margin-top: 13px;
}

label:nth-of-type(2) {
    margin-top: 20px;
}

input::placeholder {
    color: rgba(115, 111, 111, 0.678);
}
.register-container, .login-container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 90px;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
    background: #fff6e8;
    padding: 30px;
    padding-left: 20px;
    height: 60px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: inset 3px 3px 3px #c0c2c5, inset -6px -6px 6px white;
}


.btn.submit {
    margin-top: 40px;
    background: #485771;
    height: 50px;
    border-radius: 20px;
    color: white;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 3px 3px 3px #cbced1, -6px -6px 6px rgb(218, 169, 121);
    transition: 0.5s;
}

.btn.submit:hover {
    color: white;
    background-color: #6c818e;
}


.field>span {
    font-size: 26px;
    text-decoration: none;
    color: #364257;
    background: rgb(215, 112, 22);
    border-radius: 4px;
    padding: 5px 15px;
}

.field {
    margin-top: 40px;
}

.field>span>a {
    color: black!important;
    font-size: 28px;
    font-weight: bold;
}

.error {
    color: rgb(167, 4, 4);
    font-size: 1.8em;
}